.add-edit-sala-form {
  &__active {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    .ui.checkbox {
      margin-right: 20px;
    }
  }

  .ui.button {
    margin-top: 20px;
  }

  .ui.dropdown {
    margin-bottom: 15px;
  }
}
